<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
    "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
	<bean id="pnrBaseAreaIdList"
		class="com.boco.eoms.partner.baseinfo.util.PnrBaseAreaIdList">

		<!-- 省公司地域id -->
		<property name="rootAreaId">
			<value>28</value>
		</property>
		<!-- 合作伙伴树的省公司节点nodeid  10117  10203-->
		<property name="partnerRootId">
			<value>10114</value>
		</property>
	</bean>
</beans>








