<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
    "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
	<import resource="classpath:com/boco/eoms/partner/baseinfo/config/applicationContext-partner-baseinfo-old.xml"/>
	<import resource="classpath:com/boco/eoms/partner/personnel/config/applicationContext-partner-personnel.xml"/>		
</beans>









