<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
    "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
	<bean id="pnrServiceAreaIdList"
		class="com.boco.eoms.partner.serviceArea.util.PnrServiceAreaIdList">

		<!-- 省公司地域id -->
		<property name="rootAreaId">
			<value>10101</value>
		</property>
		
	</bean>
</beans>








