<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
    "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
	<!--
		This is a real generic dao for nop3 standard CRUD only.By Steve Start,
		July,2011
	-->

	<bean id="promoAgreementDao" class="com.boco.eoms.deviceManagement.busi.protectline.dao.impl.PromoAgreementDaoImpl"
		autowire="byName" />

	
	<bean id="promoAgreementOperateDao" class="com.boco.eoms.deviceManagement.busi.protectline.dao.impl.PromoAgreementOperateDaoImpl"
		autowire="byName" />

	

	<bean id="promoAgreementService" parent="txProxyTemplate">
		<property name="target">
			<bean class="com.boco.eoms.deviceManagement.busi.protectline.service.impl.PromoAgreementServiceImpl">
				<property name="promoAgreementDao" ref="promoAgreementDao" />

			</bean>
		</property>
	</bean>
	
	<bean id="promoAgreementOperateService" parent="txProxyTemplate">
		<property name="target">
			<bean class="com.boco.eoms.deviceManagement.busi.protectline.service.impl.PromoAgreementOperateServiceImpl">
				<property name="promoAgreementOperateDao" ref="promoAgreementOperateDao" />

			</bean>
		</property>
	</bean>
</beans>