<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
    "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
	<!--
		This is a real generic dao for nop3 standard CRUD only.By Steve Start,
		July,2011
	-->

	<bean id="warningBoardDao" class="com.boco.eoms.deviceManagement.busi.protectline.dao.impl.WarningBoardDaoImpl"
		autowire="byName" />

	
	<bean id="warningBoardOperateDao" class="com.boco.eoms.deviceManagement.busi.protectline.dao.impl.WarningBoardOperateDaoImpl"
		autowire="byName" />

	

	<bean id="warningBoardService" parent="txProxyTemplate">
		<property name="target">
			<bean class="com.boco.eoms.deviceManagement.busi.protectline.service.impl.WarningBoardServiceImpl">
				<property name="warningBoardDao" ref="warningBoardDao" />

			</bean>
		</property>
	</bean>
	
	<bean id="warningBoardOperateService" parent="txProxyTemplate">
		<property name="target">
			<bean class="com.boco.eoms.deviceManagement.busi.protectline.service.impl.WarningBoardOperateServiceImpl">
				<property name="warningBoardOperateDao" ref="warningBoardOperateDao" />

			</bean>
		</property>
	</bean>
</beans>