<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
    "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
	<bean id="assEvaRoleIdList"
		class="com.boco.eoms.assEva.util.RoleIdList">
		<property name="provinceAdminRoleId">
			<value>390</value>
		</property>
		
	</bean>
</beans>








