<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
    "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
<!--  
	<bean id="sheetDaoImpl" class="com.boco.eoms.mobile.sheet.dao.impl.SheetImpl" autowire="byName" />

	<bean id="iSheetServiceMgr" parent="txProxyTemplate">
		<property name="target">
			<bean
				class="com.boco.eoms.mobile.sheet.service.impl.SheetServiceMgrImpl">
				<property name="sheetDao" ref="sheetDaoImpl" />
				<property name="id2NameService" ref="ID2NameGetServiceCatch" />
			</bean>
		</property>
	</bean>
-->
</beans>