<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
    "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
	<bean id="fiberInformationDao"
		class="com.boco.eoms.deviceManagement.fiber.dao.impl.FiberInformationDaoImpl" autowire="byName" >
	</bean>
	<bean id="fiberInformationService" parent="txProxyTemplate">
		<property name="target">
			<bean class="com.boco.eoms.deviceManagement.fiber.service.impl.FiberInformationServiceImpl">
				<property name="fiberInformationDao"
					ref="fiberInformationDao" />
			</bean>
		</property>
	</bean>
	
</beans>