BODY
{
	FONT-FAMILY: "����";
	FONT-SIZE: 9pt;
	text-decoration: none;
	line-height: 150%;
	FONT-SIZE: 9pt;
	text-decoration: none;
	margin: 0;
    padding: 0;
     background: white url(image/background.gif) top left repeat-x;
}
table{;
border-collapse: collapse;
	cellpadding:0;
	cellspacing:0;
	table-layout:;
} 
TR
{
height:30px;
}
TD
{
	FONT-FAMILY: "����";
	FONT-SIZE: 9pt;
}

TH
{
	background-color:#ffffe3;
    color: #000000;
	FONT-FAMILY: "����";
	FONT-SIZE: 9pt;
}
Input
{
	FONT-SIZE: 9pt;
	HEIGHT: 20px;
}
Button
{
	FONT-SIZE: 9pt;
	HEIGHT: 20px; 
}
Select
{
	FONT-SIZE: 9pt;
	HEIGHT: 20px;
}
A
{
	TEXT-DECORATION: none;
	color: #000000;
}
.table_title
{
	font-size:12pt;
	line-height: 200%;
	font-weight:bold;
}

.table_show
{
     
	align:center;
}
@import url(table_style.css);

.title {width:150px; line-height:25px; text-overflow:ellipsis; white-space:nowrap; overflow:hidden;}

*{margin:0;padding:0; font-family:"微软雅黑";}

.table_1{margin:4px;}

.tltle_bg{background:url(<%=basePath%>examonline/manage/images/title_bg.gif) repeat-x; font:bold 14px/27px "微软雅黑";color:#fff;}

.inter{background:url(<%=basePath%>examonline/manage/images/table_bg.gif) repeat-x; color:#9d9d9f;line-height:22px; font-size:12px;padding-left:15px;}

.table_2{background:#d7e1ed; border-top:1px solid #a2b3cf; border-bottom:1px solid #a2b3cf; line-height:27px;padding-left:15px;font-size:12px;color:#546c8e;}

.txt_input{background:#f0f1f6; border:1px solid #c4ceda;height:19px;width:60%;}

.a_table_1,.a_table_2{ border-top:1px solid #fff; border-bottom:1px solid #d2e2ef; line-height:27px;color:#546c8e;padding-left:5px;font-size:12px;}

.a_table_2{background:#e9eef2; }

.a_table_1{background:#f1f1f1;}

.sel_input{height:18px;border:1px solid #c5cdda; width:60%; line-height:18px;font-size:12px;}

.table_3{height:51px; border-top:1px solid #fff; border-bottom:1px solid #fff; background:#f5f5f5;}

.table_4{background:url(<%=basePath%>examonline/manage/images/table_bg2.gif) repeat-x;height:20px;}

.datalist{border-bottom:1px solid #aebdd4;}

.datalist th{background:url(<%=basePath%>examonline/manage/images/table_bg3.gif) repeat-x;color:#546c8e;border-left:1px solid #fff; border-right:1px solid #a1a7bd; font-size:12px; font-weight:normal;}

.datalist td{border-top:1px solid #aebdd4; padding-left:5px; font-size:12px; line-height:22px;}

.datalist tr {background-color:expression((this.sectionRowIndex%2==0)?"#fff":"#f0f1f6")}

.datalist tr:hover, .datalist tr.altrow{
	background-color:#d7e1ed;	/* 动态变色 */
}

.page_style{background:url(<%=basePath%>examonline/manage/images/table_bg4.gif) repeat-x;height:27px; font-size:12px; padding-left:20px;}

/*-- button 风格 begin ---*/
	
	.add_btn_02,.add_btn_03,.add_btn_04,.add_btn_05,.add_btn_06,.add_btn_14,.add_btn_15{
	height:21px;
	border:0;
	font-size:12px;
	font-family:"宋体";
	line-height:21px;
	padding-left:3px;
	}
	.add_btn_02,.add_btn_03,.add_btn_04,.add_btn_05,.add_btn_06
	{color:#dbffff;}
	.add_btn_14,.add_btn_15{
	color:#eee;
	}
	.add_btn_02{
	background:url(img/pic_w2.png) no-repeat;
	width:52px;
	}
	.add_btn_03{
	background:url(img/pic_w3.png) no-repeat;
	width:65px;
	}
	.add_btn_04{
	background:url(img/pic_w4.png) no-repeat;
	width:77px;
	}
	.add_btn_05{
	background:url(img/pic_w5.png) no-repeat;
	width:90px;
	}
	.add_btn_06{
	background:url(img/pic_w6.png) no-repeat;
	width:101px;
	}
	.add_btn_14{
	background:url(img/pic_1w4.png) no-repeat;
	width:78px;
	}
	.add_btn_15{
	background:url(img/pic_1w5.png) no-repeat;
	width:87px;}

/*-- button 风格 end ---*/
