<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
    "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

	<bean id="FaultSheetManagementDao"
		class="com.boco.eoms.deviceManagement.faultSheet.dao.FaultSheetManagementDaoImp"
		autowire="byName" />

	<bean id="FaultSheetManagementService" parent="txProxyTemplate">
		<property name="target">
			<bean
				class="com.boco.eoms.deviceManagement.faultSheet.service.FaultSheetManagementServiceImp">
				<property name="faultSheetManagementDao"
					ref="FaultSheetManagementDao" />
				
			</bean>
		</property>
	</bean>
	<bean id="FaultSheetResponseDao"
		class="com.boco.eoms.deviceManagement.faultSheet.dao.FaultSheetResponseDaoImp"
		autowire="byName" />
	<bean id="FaultSheetResponseService" parent="txProxyTemplate">
		<property name="target">
			<bean
				class="com.boco.eoms.deviceManagement.faultSheet.service.FaultSheetResponseServiceImp">
				<property name="faultSheetResponseDao"
					ref="FaultSheetResponseDao" />
			</bean>
		</property>
	</bean>
</beans>