<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
    "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
	<!-- excel导入 -->
	<bean id="iparContentsExcelMgr" parent="txProxyTemplate">
		<property name="target">
			<bean
				class="com.boco.eoms.partner.excel.mgr.impl.ParContentsMgrImpl">
				<property name="iparContentsExcelDao" ref="iparContentsExcelDao" />
			</bean>
		</property>
	</bean>
	<bean id="iparContentsExcelDao"
		class="com.boco.eoms.partner.excel.dao.hibernate.ParExcelDaoHibernate"
		autowire="byName" />
	
	<bean id="iparExcelMgr" parent="txProxyTemplate">
		<property name="target">
			<bean
				class="com.boco.eoms.partner.excel.mgr.impl.ParExcelImpl">
				<property name="iparExcelDao" ref="iparExcelDao" />
			</bean>
		</property>
	</bean>

	<bean id="iparExcelDao"
		class="com.boco.eoms.partner.excel.dao.jdbc.ParExcelDaoJdbc"
		autowire="byName" />

</beans>









