<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
    "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
	<!--
		This is a real generic dao for nop3 standard CRUD only.By Steve Start,
		July,2011
	-->
	
	
	<bean id="projectBaseInfoDAO"
		class="com.boco.eoms.deviceManagement.busi.line.dao.impl.ProjectBaseInfoDAOImpl" autowire="byName" >
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="projectOperInfoDAO"
		class="com.boco.eoms.deviceManagement.busi.line.dao.impl.ProjectOperInfoDAOImpl" autowire="byName" >
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>

	<bean id="lineProjectService" parent="txProxyTemplate">
		<property name="target">
			<bean class="com.boco.eoms.deviceManagement.busi.line.service.impl.LineProjectServiceImpl">
				<property name="projectBaseInfoDAO" ref="projectBaseInfoDAO"/>
				<property name="projectOperInfoDAO" ref="projectOperInfoDAO"/>			
			</bean>
		</property>
	</bean>


</beans>