<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
    "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

	<bean id="publicityCatchlineDao"
		class="com.boco.eoms.deviceManagement.busi.protectline.dao.impl.PublicityCatchlineDaoImpl" autowire="byName" />

	<bean id="publicityCatchlineService" parent="txProxyTemplate">
		<property name="target">
			<bean class="com.boco.eoms.deviceManagement.busi.protectline.service.impl.PublicityCatchlineServiceImpl">
				<property name="publicityCatchlineDao"
					ref="publicityCatchlineDao" />
			</bean>
		</property>
	</bean>
	
	
		<bean id="publicityCatchlineApprovalDao"
		class="com.boco.eoms.deviceManagement.busi.protectline.dao.impl.PublicityCatchlineApprovalDaoImpl" autowire="byName" />

	<bean id="publicityCatchlineApprovalService" parent="txProxyTemplate">
		<property name="target">
			<bean class="com.boco.eoms.deviceManagement.busi.protectline.service.impl.PublicityCatchlineApprovalServiceImpl">
				<property name="publicityCatchlineApprovalDao"
					ref="publicityCatchlineApprovalDao" />
			</bean>
		</property>
	</bean>
</beans>