<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
    "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

	<bean id="advanceDao"
		class="com.boco.eoms.partner.advance.dao.AdvanceDaoImpl"
		autowire="byName" />

	<bean id="advanceService" parent="txProxyTemplate">
		<property name="target">
			<bean
				class="com.boco.eoms.partner.advance.service.AdvanceServiceImpl">
				<property name="advanceDao"
					ref="advanceDao" />				
			</bean>
		</property>
	</bean>

</beans>